img(ng-src='{{poster}}')
div.title {{movie.title}}
div {{movie.year}}
div {{movie.mpaa_rating}}
h6 Critics Say: {{movie.ratings.critics_score}}
h6 Audience Says: {{movie.ratings.audience_score}}
h6 runtime: {{movie.runtime}}

button.btn.btn-danger(ng-click='remove()') x
